# URL of the FastAPI backend server
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_API_URL=/api
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCe6KCXl5MO1INT16N9I_kiMwXxwZHJc8o

# Pusher Credentials
NEXT_PUBLIC_PUSHER_KEY=c96eace5e3139801906d
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
